// @import 'bulma/bulma';

.columns{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.column {
  padding: 0.5em;
  //margin: 0.1rem 1rem 1.5rem 1rem;
  overflow: auto;
}

.title{
  font-size: 1.4rem;
}

.subtitle{
  font-size: 1.2rem;
}

.row{
  border-bottom: 1px groove gray;
}

a{
  text-decoration: none;
}

a:hover{
  color: darkorange !important;
  text-decoration: none;
  background-color: transparent !important;
}

a:visited{
  color: black;
}

.w-25{
  width: 25%;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.wrap-text{
  word-wrap: break-word;
}